html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  padding: 1em;
}

img {
  display: block;
  width: 100%;
}

a {
  color: #3783a3;
}

h1,.top-h2 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

.top-h2 {
  margin: 0;
  font-size: 1.125rem;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.big-text {
  font-size: 2rem;
  margin: .5rem 0;
}

.banner-img {
  margin-bottom: 1.25rem;
}

.header-text {
  padding: 0 1em;
  text-align: center;
}

.hr-two {
  margin: 2rem 0;
  color: #e2e2e2;
}

.hr-three {
  margin: 2rem 0 1rem;
}

.p-margin1 {
  margin-bottom: 2rem;
}

.p-margin2 {
  margin-bottom: 1rem;
}

.a-margin {
  margin-bottom: 1rem;
}

.img-article {
  margin-top: 2rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  font-size: 1.125rem;
  padding: 0 .5rem;
}

footer {
  display: flex;
  justify-content: center;
}

article a {
  border: 1px solid #3783a3;
  text-decoration: none;
  padding: .75em;
  display: flex;
  align-items: stretch;
}

@media only screen and (min-width: 38em) {

  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "banner banner banner"
    "figone figtwo figthree";
  }

  header {
    display: grid;
  }

  main {
    display: grid;
  }

  .logo {
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
  }

  .banner-img {
    grid-column: 1;
    grid-row: -2;
    z-index: 9;
  }

  .banner {
    grid-area: banner;
  }


}
